div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 10000;
    }
}

.patient-manage-container {

    .patient-manage-body {
        padding: 15px 20px;
        // margin-left: 200px;

        .all-list {
            margin-top: 30px;

            .btn {
                border: 1px solid #04AA6D;
            }
        }

        .button-control {
            margin-top: 30px;
            float: right;

            button {
                border: 1px solid #04AA6D;
            }
        }

        .user-table {
            .btn-confirm {
                color: rgb(46, 60, 255) !important;
                background-color: transparent;
                width: 50px;
                border: none;
                outline: none;

                &:hover {
                    color: rgb(27, 0, 150) !important;
                }
            }

            .btn-delete {
                color: rgb(238, 39, 39) !important;

                &:hover {
                    color: rgb(116, 5, 5) !important;
                }
            }
        }

        .history-table {
            #TableHistory {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            #TableHistory td,
            #TableHistory th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #TableHistory tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #TableHistory tr:hover {
                background-color: #ddd;
            }

            #TableHistory th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }
        }

    }
}