.section-specialty {
    .section-body {
        .specialty-customize {
            cursor: pointer;

            &:hover {
                color: #45c3d2
            }


            @media screen and (max-width: 1400px) {
                .bg-image {
                    width: 250px;
                }

                h4 {
                    padding-left: 10px
                }
            }
        }
    }
}